# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environment
venv/
.env

# Model artifacts (OPTIONAL)
# Uncomment if you do NOT want models in git
# model/*.joblib

# OS
.DS_Store
Thumbs.db